<?xml version="1.0" ?>
<!--
/**
 * @author    Mikhaël Bois <mbois@absolunet.com>
 * @copyright Copyright (c) 2019 Absolunet (http://www.absolunet.com)
 * @link      http://www.absolunet.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
	<module name="Absolunet_Module" setup_version="1.0.0">
		<sequence>
			<module name="Magento_Checkout"/>
		</sequence>
	</module>
</config>
